 <!-- Modal -->
 <div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        </div>
        <div class="modal-body">
          <b style="color: green;">{{message}}</b>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade" id="modal-overlay"></div>
  